/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(152, 255, 255);
    padding: 20px;
  }

  
.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
}

.menu a:hover {
  text-decoration: underline;
}

/* Cabeçalhos principais */
h1 {
  font-size: 24px;
  color: #0056b3; /* Cor que destaca a importância do cabeçalho */
}
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Formulários */
  form {
    background-color: #91c1cc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 30%; /* Reduzindo a largura do formulário */
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%; /* Largura total para ocupar a largura do formulário */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a9e9e4;
    border-radius: 5px;
  }
  
  button {
    background-color: #5b4caf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Mudança de cor ao passar o mouse para feedback */
  button:hover {
    background-color: rgb(22, 22, 136);
  }

  /* Estilos adicionais para feedback visual de ações */
button:active {
  transform: translateY(1px); /* Efeito de clique sutil */
}
  
  ul {
    list-style: none;
    padding-left: 0; /* Ajustar alinhamento */
  }
  
  li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px; /* Espaçamento entre itens da lista */
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  img {
    max-width: 100px;
    height: auto;
    display: block; /* Correção de alinhamento */
  }

#map {
  width: 100%;
  height: 80%; /* 80% da altura da janela de visualização */
  margin: 0 auto; /* Centralizar horizontalmente */
  
}


  /* Media Queries */
@media (max-width: 600px) {
  body {
      margin: 10px;
      font-size: 14px;
  }

  h1 {
      font-size: 18px;
  }

  form {
      padding: 15px;
  }

  button {
      padding: 8px 10px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  body {
      margin: 20px;
      font-size: 16px;
  }

  h1 {
      font-size: 22px;
  }
}

@media (min-width: 901px) {
  body {
      margin: 30px;
      font-size: 18px;
  }

  h1 {
      font-size: 24px;
  }
}

/* Estilizando o botão de upload de arquivo */
  input[type="file"]::-webkit-file-upload-button {
    background-color: #594caf; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Removendo a borda do botão */
    border-radius: 5px; /* Adicionando bordas arredondadas */
    cursor: pointer; /* Alterando o cursor para indicar que é clicável */
    
  }